<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Paper Scissors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/game.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="hero">
        <!-- main area  -->
        <main class="row justify-content-center mt-3">
            <div class="col-xl-3 box">
                <h1 class="player">
                    PLAYER 1
                </h1>
                <div class="row row-cols-1 justify-content-center">
                    <figure class="col-xl-7 pt-4 figure" id="rock">
                        <input type="image" src="./assets/batu.png" class="choice-player choice-hover"
                            onclick="getChoice(0)">
                    </figure>
                    <figure class="col-xl-7 figure" id="paper">
                        <input type="image" src="./assets/kertas.png" class="choice-player choice-hover"
                            onclick="getChoice(1)">
                    </figure>
                    <figure class="col-xl-7 figure" id="scissors">
                        <input type="image" src="./assets/gunting.png" class="choice-player choice-hover"
                            onclick="getChoice(2)">
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 ml-3 mr-3 result">
                <div class="row justify-content-center">
                    <div class="col vs" id="vs">
                        <p>
                            VS
                        </p>
                    </div>
                    <div class="col win-player" id="win-player">
                        <p>
                            PLAYER 1
                        </p>
                        <p>
                            WIN
                        </p>
                    </div>
                    <div class="col win-com" id="win-com">
                        <p>
                            COM
                        </p>
                        <p>
                            WIN
                        </p>
                    </div>
                    <div class="col draw" id="draw">
                        <p>
                            DRAW
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 com">
                <h1 class="player">
                    COM
                </h1>
                <div class="row row-cols-1 justify-content-center">
                    <figure class="col-xl-7 pt-4 figure" id="com-rock">
                        <img src="./assets/batu.png" alt="Rock" class="choice-com">
                    </figure>
                    <figure class="col-xl-7 figure" id="com-paper">
                        <img src="./assets/kertas.png" alt="Paper" class="choice-com">
                    </figure>
                    <figure class="col-xl-7 figure" id="com-scissors">
                        <img src="./assets/gunting.png" alt="Scissors" class="choice-com">
                    </figure>
                </div>
            </div>
        </main>

        <!-- refresh button  -->
        <section class="row mt-5 mb-5 refresh">
            <figure onclick="refreshGame()" class="col">
                <img src="./assets/refresh.png" class="refresh-btn">
            </figure>
        </section>
    </header>
    <script src="/scripts/game.js"></script>
</body>

</html>