<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/loginpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="login-page">
        <div class="form">
            <form class="register-form hidden" id="register-form" method="POST"
                action="http://localhost:8080/api/v1/auth/postRegister">
                <input type="text" placeholder="Username" id="reg-text" name="user_id" />
                <input type="email" placeholder="Email" id="reg-email" name="email" />
                <input type="password" placeholder="password" id="reg-password" name="password" />
                <button type="submit">Register</button>
                <p class="message">Already registered? <a class="open-login" href="#">Sign In</a></p>
            </form>
            <form class="login-form" id="login-form" method="post" action="http://localhost:8080/api/v1/auth/login">
                <input type="text" placeholder="Username" id="login-text" name="user_id" />
                <input type="password" placeholder="Password" id="login-password" name="password" />
                <button type="submit">Login</button>
                <p class="message">Not registered? <a class="open-register" href="#">Create an account</a></p>
            </form>
            <div>
                <% if (messages .error) { %>
                    <h5>
                        <%= messages.error %>
                            </ h5>
                            <% } %>
            </div>
        </div>
    </div>
    <!-- Code ini akan berjalan bila terjadi error -->

    <script src="/scripts/loginpage.js"></script>
</body>

</html>