@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/*
body {
  background-color: #9c835f !important;
  height: 100vh;
}

.hero {
  height: 100vh;
}

#main-title {
  color: #f9b23d;
  font-weight: bold;
  font-size: 1.5em;
}

#main-arrow {
  color: #724c21;
  font-weight: bold;
  font-size: 3em;
  padding-left: 2vw;
  padding-right: 1vw;
}

#main-title,
p,
h1,
#main-arrow {
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rps-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

}

.img {
  
  width: 15vh !important;
  max-width: 150%;
  border: 1em transparent solid !important;
  
}

.chosen {
  background-color: #c4c4c4;
  border-radius: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

#player {
  grid-column: 1;
  align-content: flex-end;
  padding-inline-start: 20vh;
}

.rps-menu {
  grid-column: 2;
}

#COM {
  grid-column: 3;
  padding-inline-end: 20vh;
}

.rps-menu {
  display: grid;
  justify-items: center;
  grid-template-rows: [row1-start] 90% [row1-end] auto [last-line];
  height: 80vh;
}

.player-selection:hover {
  transform: scale(1.2);
}

.results {
  padding-top: 15em;
}

.init {
  color: #bd0000;
  font-weight: bold;
  font-size: 5em;
}

.you-win,
.pc-win,
.draw {
  display: none;
  font-size: 2.5vw;
  text-align: center;
  height: 4em;
  align-items: center;
  justify-content: center;
  width: 7em;
  border-radius: 5.5%;
  color: white;
  border: solid #4c9654 2px;
  background-color: #4c9654;
  transform: rotate(-28.87deg);
}

.draw {
  border: solid #035b0c 2px;
  background-color: #035b0c;
}

.pc-win {
  border: solid maroon 2px;
  background-color: maroon;
}

h1 {
  font-weight: bold;
}

.navbar {
  padding-bottom: 0px !important;
}

.player-choice,
.pc-choice {
  background-color: #c4c4c4;
  border-radius: 15%;
  border: #c4c4c4 100px;
}
*/

body {
  background-color: #9b835f;
}

.logo {
  display: flex;
  flex-direction: row;
}

.tagline {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #f9b23d;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.box {
  text-align: center;
}

.result {
  text-align: center;
}

input {
  color: none !important;
}

.figure {
  height: 10rem;
  text-align: center;
}

.chosen {
  background-color: #c4c4c4;
  border-radius: 1rem;
}

.choice-hover:hover {
  transform: scale(1.2) rotate(15deg);
}

.choice-player {
  max-width: 5rem;
  height: auto;
  margin: 1rem;
  cursor: pointer;
}

.choice-com {
  max-width: 5rem;
  height: auto;
  margin: 1rem;
}

.player {
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.vs {
  color: #bd0000;
  font-size: 8rem;
  font-weight: bolder;
  font-family: sans-serif;
  display: block;
  margin-top: 12.5rem;
  margin-bottom: 3rem;
}

.win-player,
.win-com {
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 10rem;
  background-color: #4c9654;
  transform: rotate(-15deg);
  height: 10rem;
  padding-top: 2.5rem;
  margin-bottom: 10rem;
}

.win-player {
  display: none;
}

.win-com {
  display: none;
}

.draw {
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 10rem;
  background-color: #035b0c;
  transform: rotate(-15deg);
  height: 10rem;
  padding-top: 3.5rem;
  margin-bottom: 10rem;
}

.draw {
  display: none;
}

.refresh {
  text-align: center;
}

.refresh-btn {
  max-width: 3rem;
  height: auto;
  cursor: pointer;
}

.refresh-btn:hover {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .vs {
    margin-top: 2rem !important;
  }
}
